<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
    <form action = "/form" method = "post">
        <input type="text" name = "num">
        <select name = "type">
            <option value="1">Type 1 Choices 1 to 5</option>
            <option value="2">Type 2 Choices 0 or 1</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>